// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts-container{

  a:hover {
    color: #ff0000;
    text-decoration:none;
  }



  .post-card-header {
    background-color: #990055;
  }

  .post-card-body {
    background-color: #002244;
    color: #dddddd;
  }

}
