// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts-container{
 
  .post-card {
  }

  .post-card-header {
    padding: 5px;
    a{
        color: #000000;
        text-decoration:none;
    }

  }

  .post-card-body {
    padding: 10px;
    background-color: #002244;
    color: #dddddd;
    border-radius:10px;
  }

}
